%header
  %nav
    %ul.nav{:class => "nav nav-pills custom"}
      %li= link_to 'Zing Charts', 'http://www.zingchart.com/'
      %li= link_to 'Riot API', 'https://developer.riotgames.com/'
      %li= link_to 'My Github', 'https://github.com/hdavis0090'
      %li= link_to 'Source', 'https://github.com/hdavis0090/zingchart-app-rails'
.wide
.one
  This is a tool for checking how much damage a player has done in their recent games of League of Legends. 
  %br Input your summoner name below or choose one from the dropdown menu
#content
  .textbox.dropdown
    %input#summonerIn{type: 'text'}
      %button#buttony{class: 'button btn-info', "data-loading-text":'Loading....', type: 'button'} Submit
    %div.drop
      %button#dropdownMenu1{class: 'btn btn-default dropdown-toggle', 'data-toggle':'dropdown', type:'button'}
        Summoner IDs
        %span.caret
      %ul.dropdown-menu.dropdown-menu-right#challengerDropdown
        %li
          %a Pobelter
        %li
          %a Doublelift
  .alert.alert-danger#alert
    %span.glyphicon.glyphicon-exclamation-sign
    %span.sr-only Error:
    Enter a Valid Summoner ID
  .chartContainer
    %ul.nav.nav-tabs#navTabs{role: "tablist"}
      %li{role: "tab", "data-toggle": "tab"}= link_to 'Summary', '#home'
      - (1..5).each do |i|
        %li=link_to "Game #{i}", "#game#{i}", :data => {role: "tab", "toggle": "tab"}
    %span Your content will load here
    .tab-content#matchTabs
      .tab-pane.active#home{role: "tabpanel"}
        #damageChartDiv
      - (1..5).each do |i|
        .tab-pane{id: "game#{i}", role: "tabpanel"}
          %div{id: "detailsChart#{i}"}
  .infoContainer
    %span
    .matchDetails

